:root {
  --color-white: #ffffff;
  --color-soft-white: #f7f7f8;
  --color-gray: #807c86;
  --color-soft-gray: #c3c1c6;
  --color-dark: #090014;
  --color-soft-dark: #4e4756;
  --color-primary: #6a00f6;
  --color-dark-primary: #15002f;
  --color-secondary: #9346f9;
  --color-soft-secondary: #b580fb;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-soft-white);
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
